* {
  box-sizing: border-box;
}
body,
ul,
li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

#picsCarousel {
  position: relative;
  margin: 0 auto;
  border: 3px solid #000000;
  height: 555px;
  width: 805px;
  overflow: hidden;
}

#picsCarousel img {
  height: 550px;
  width: 800px;
}

#picsCarousel ul {
  width: 4000px;
  margin-left: -800px;
}

#picsCarousel li {
  float: left;
  list-style-type: none;
}

.carousel-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15%;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  opacity: 0.5;
}
.carousel-control:focus, 
.carousel-control:hover {
  /* color: #fff; */
  /* text-decoration: none; */
  /* filter: alpha(opacity=90); */
  /* outline: 0; */
  opacity: 1;
}

.carousel-control.left {
  left: 0;
  background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
}

.carousel-control.right {
  right: 0;
  background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
}
